{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="container wrapper">
    {% if messages %}
    {% for msg in messages %}
    {% if msg %}
    <div class="alert alert-{{ msg.tags }} alert-dismissible fade show font-weight-bold text-primary w-50 ml-3 mt-5">{{ msg }} <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button></div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Display movies by genre -->
    {% for movie, range, nSlides in allMovies %}
    <h5 class="my-4 text-light"><u>{{ movie.0.genres }}</u></h5>
    <div class="row">
        {% for item in movie %}
        <div class="col-xs-6 col-sm-3 col-md-3 mb-4">
            <div class="card h-100">
                <img class="card-img-top fixed-height-img" src="{{ item.image.url }}" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title" style="color:black;">{{ item.title }}</h5>
                    <form action="" method="post" class="range-field flex-grow-1">
                        {% csrf_token %}
                        <input type="hidden" name="movieid" value="{{ item.id }}" />
                        <input type="hidden" name="userid" value="{{ user.id }}" />
                        {{ rform.as_p }}
                        <div class="showrating"></div>
                        <input type="submit" class="btn btn-primary mt-2 align-self-end" value="Submit">
                    </form>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ item.genres }}</small>
                    <small class="text-muted">{{ item.movieduration }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<style>
    .fixed-height-img {
        height: 200px; /* Set the desired height for all images */
        object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
    }
</style>
{% endblock %}
