{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container emp-profile" style="background-color:'black'; margin-top: 20px;">
    {% if messages %}
    {% for msg in messages %}
    {% if msg %}
    <div class="alert alert-{{ msg.tags }} alert-dismissible fade show font-weight-bold text-primary w-50 ml-3 mt-5">{{ msg }} <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button></div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Profile Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="profile-head">
                <h5>
                    {{ request.user.username }}
                </h5>
                <p class="proile-rating">Total Review : <span>{{ totalReview }} stars</span></p>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Profile Content -->
    <div class="row">
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <!-- About Tab -->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>User Id</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ request.user.id }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ request.user.first_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ request.user.last_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ request.user.email }}</p>
                        </div>
                    </div>
                    {% if request.user.is_staff %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Possession</label>
                        </div>
                        <div class="col-md-6">
                            <p>Admin</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Possession</label>
                        </div>
                        <div class="col-md-6">
                            <p>User</p>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!-- Timeline Tab -->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Total Watched Movie</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ totalwatchedmovie }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
